body {--prim: #cb7134; --sec: #ffffff; --input: #707681; --text: rgba(208, 208, 208, 0.87); --dark: #000000; --popup: rgba(60, 60, 60, 0.8);}
body {max-height: 100vh; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; color: var(--sec); overflow: hidden;}
a:hover {color: var(--prim);}
.vectors {max-width: 600px;}
.time {width: 100px;}
.text-secondary-color {color: var(--prim); text-decoration: none;}
.custom-input {max-width: 350px; font-size: 16px; color: var(--input);}
.custom-text {max-width: 350px; font-size: 16px; color: var(--text);}
.custom-button {min-width: 150px; min-height: 40px; background-color: var(--prim); color: var(--sec);}
.custom-button:hover {background-color: var(--prim); color: var(--sec);}
.footer-image {max-width: 100px;}


.popup {display: none; position: absolute; background-color: var(--popup); backdrop-filter: blur(10px); padding: 50px; top: 0; right: 0; bottom: 0; left: 0;}
.ele-box {height: 48vh; overflow-y: scroll;}
.card {position: relative; min-width: 140px; cursor: pointer; padding: 10px 0 35px 0;}
.card-title {color: var(--dark); font-size: 16px;}
.card-text {color: var(--dark); font-size: 14px; margin-top: -5px !important;}
.card-main {color: var(--prim); font-size: 35px; margin-top: -5px !important;}
.s-color {color: var(--prim) !important;}
.bottom {position: absolute; background-color: var(--prim); border-radius: 0 0 5px 5px; bottom: 0; right: 0; left: 0;}
.bottom .text {color: var(--sec); font-size: 14px; margin-bottom: 3px;}
